body {
  background-color: white;
  color: rgb(22, 0, 67);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: rgb(231, 220, 253);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 850px; /* Adjusted width to fit both options */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.questions {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.result {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

input[type="button"] {
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(79, 31, 176);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.options-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.option-container {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  width: 45%;
}

.calculation {
  margin-top: 20px;
  text-align: center;
}

.breakdown {
  margin-top: 5px;
  text-align: center;
}

.output-label,
.output-label-output {
  font-size: 18px;
  font-weight: bold;
  color: rgb(22, 0, 67);
}

.output-price {
  font-size: 24px;
  font-weight: bold;
  color: rgb(22, 0, 67);
}
